---
import interior1 from "../../assets/interior-1.jpg";
import interior2 from "../../assets/interior-2.jpg";
import interior3 from "../../assets/interior-3.jpg";
import { Icon } from "astro-icon/components";
import BoxSubtitle from "../BoxSubtitle.astro";
import RoundedImage from "../RoundedImage.astro";
---

<main class="mb-[70px] rounded-3xl bg-[#3a2517] px-2 py-10">
  <h2 class="mb-8 text-center text-xl text-white">
    <b>¡Encuentra el departamento perfecto para ti!</b>
  </h2>
  <section class="mb-2 flex space-x-2">
    <article class="flex-1">
      <BoxSubtitle subtitle="Tipo 1">
        <ul class="text-sm sm:text-base">
          <li class="flex items-center space-x-2">
            <Icon name="material-symbols-light:king-bed-outline" size="42" />
            <span> 3 Dorms. </span>
          </li>
          <li class="flex items-center space-x-2">
            <Icon name="material-symbols-light:shower-outline-rounded" size="42" />
            <span>2 Baños</span>
          </li>
          <li class="flex items-center space-x-2">
            <Icon name="material-symbols-light:activity-zone-outline" size="42" />
            <span>
              Area: 80m <sup>2</sup>
            </span>
          </li>
        </ul>
        <button
          aria-label="Ver Planos"
          class="absolute bottom-5 right-5 flex size-16 items-center justify-center rounded-full bg-white text-[#795a45] sm:top-5"
        >
          <Icon name="material-symbols-light:arrow-outward-rounded" size="40" />
        </button>
      </BoxSubtitle>
    </article>
    <article class="hidden flex-1 md:block">
      <h3>
        <RoundedImage src={interior1} alt="Libertad" />
      </h3>
    </article>
    <article class="hidden flex-1 lg:block">
      <h3>
        <RoundedImage src={interior2} alt="Libertad" />
      </h3>
    </article>
    <article class="flex-1">
      <h3>
        <RoundedImage src={interior1} alt="Libertad" />
      </h3>
    </article>
  </section>
  <section class="flex space-x-2">
    <article class="hidden flex-1 md:block">
      <h3>
        <RoundedImage src={interior3} alt="Libertad" />
      </h3>
    </article>
    <article class="flex-1">
      <h3>
        <RoundedImage src={interior2} alt="Libertad" />
      </h3>
    </article>
    <article class="flex-1">
      <h3>
        <RoundedImage src={interior2} alt="Libertad" />
      </h3>
    </article>
    <article class="flex-1">
      <BoxSubtitle subtitle="Tipo 2">
        <ul class="text-sm sm:text-base">
          <li class="flex items-center space-x-2">
            <Icon name="material-symbols-light:king-bed-outline" size="42" class="text-white" />
            <span> 3 Dorms. </span>
          </li>
          <li class="flex items-center space-x-2">
            <Icon
              name="material-symbols-light:shower-outline-rounded"
              size="42"
              class="text-white"
            />
            <span>2 Baños</span>
          </li>
          <li class="flex items-center space-x-2">
            <Icon
              name="material-symbols-light:activity-zone-outline"
              size="42"
              class="text-white"
            />
            <span>
              Area: 82m<sup>2</sup>
            </span>
          </li>
        </ul>
        <button
          aria-label="Ver Planos"
          class="absolute bottom-5 right-5 flex size-16 items-center justify-center rounded-full bg-white text-custom-orange sm:top-5"
        >
          <Icon
            name="material-symbols-light:arrow-outward-rounded"
            size="40"
            class="text-custom-orange"
          />
        </button>
      </BoxSubtitle>
    </article>
  </section>
</main>
