---
import interior1 from "../../assets/interior-1.jpg";
import interior2 from "../../assets/interior-2.jpg";
import interior3 from "../../assets/interior-3.jpg";
import { Icon } from "astro-icon/components";
import BoxSubtitle from "../BoxSubtitle.astro";
import RoundedImage from "../RoundedImage.astro";
---

<main id="planos" class="bg-[#0C0C0C] mb-[70px] py-10 text-white px-2 rounded-3xl">
  <h2 class="text-center mb-8 text-xl">
    <b>¡Encuentra el departamento perfecto para ti!</b>
  </h2>
  <section class="flex space-x-2 mb-2">
    <article class="flex-1">
      <BoxSubtitle subtitle="Tipo 1">
        <ul class="text-sm sm:text-base">
          <li class="flex items-center space-x-2">
            <Icon
              name="material-symbols-light:king-bed-outline"
              size="42"
              class="text-white"
            />
            <span> 3 Dorms. </span>
          </li>
          <li class="flex items-center space-x-2">
            <Icon
              name="material-symbols-light:shower-outline-rounded"
              size="42"
              class="text-white"
            />
            <span>2 Baños</span>
          </li>
          <li class="flex items-center space-x-2">
            <Icon
              name="material-symbols-light:activity-zone-outline"
              size="42"
              class="text-white"
            />
            <span>
              Area: 80m <sup>2</sup>
            </span>
          </li>
        </ul>
        <button
          aria-label="Ver Planos"
          class="w-16 flex items-center justify-center h-16 rounded-full
          text-[#ff9100] bg-white absolute right-5 bottom-5 sm:top-5"
        >
          <Icon
            name="material-symbols-light:arrow-outward-rounded"
            size="40"
            class="text-[#ff9100]"
          />
        </button>
      </BoxSubtitle>
    </article>
    <article class="hidden md:block flex-1">
      <h3>
        <RoundedImage src={interior1} alt="Libertad" />
      </h3>
    </article>
    <article class="hidden lg:block flex-1">
      <h3>
        <RoundedImage src={interior2} alt="Libertad" />
      </h3>
    </article>
    <article class="flex-1">
      <h3>
        <RoundedImage src={interior1} alt="Libertad" />
      </h3>
    </article>
  </section>
  <section class="flex space-x-2">
    <article class="hidden md:block flex-1">
      <h3>
        <RoundedImage src={interior3} alt="Libertad" />
      </h3>
    </article>
    <article class="flex-1">
      <h3>
        <RoundedImage src={interior2} alt="Libertad" />
      </h3>
    </article>
    <article class="flex-1">
      <h3>
        <RoundedImage src={interior2} alt="Libertad" />
      </h3>
    </article>
    <article class="flex-1">
      <BoxSubtitle subtitle="Tipo 2">
        <ul class="text-sm sm:text-base">
          <li class="flex items-center space-x-2">
            <Icon
              name="material-symbols-light:king-bed-outline"
              size="42"
              class="text-white"
            />
            <span> 3 Dorms. </span>
          </li>
          <li class="flex items-center space-x-2">
            <Icon
              name="material-symbols-light:shower-outline-rounded"
              size="42"
              class="text-white"
            />
            <span>2 Baños</span>
          </li>
          <li class="flex items-center space-x-2">
            <Icon
              name="material-symbols-light:activity-zone-outline"
              size="42"
              class="text-white"
            />
            <span>
              Area: 82m<sup>2</sup>
            </span>
          </li>
        </ul>
        <button
          aria-label="Ver Planos"
          class="w-16 flex items-center justify-center h-16 rounded-full text-[#ff9100] bg-white absolute right-5 bottom-5 sm:top-5"
        >
          <Icon
            name="material-symbols-light:arrow-outward-rounded"
            size="40"
            class="text-[#ff9100]"
          />
        </button>
      </BoxSubtitle>
    </article>
  </section>
</main>
