---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import hero from "../assets/hero.png";
import interior1 from "../assets/interior-1.jpg";
import interior2 from "../assets/interior-2.jpg";
import interior3 from "../assets/interior-3.jpg";
import outside from "../assets/outside.jpg";
import map from "../assets/map.png";
import whatsapp from "../assets/whatsapp.svg";
import { Icon } from "astro-icon/components";
---

<Layout>
  <main class="max-w-[1280px] mx-auto w-full px-4 pb-4">
    <header
      class="py-4 flex w-full items-center justify-between mb-16 relative"
    >
      <button class="px-6 py-3 text-sm rounded-full bg-white flex">
        Menu
      </button>
      <h1
        class="w-full flex justify-center absolute left-1/2 -translate-x-1/2 top-3"
      >
        <a
          href="/"
          title="Libertad"
          class="flex items-center space-x-1 self-center text-lg font-manrope tracking-wider"
        >
          <Icon
            name="material-symbols-light:house-with-shield-outline-rounded"
            class="text-[#ff9100]"
            size="48"
          />
          <b class="block pt-2">Libertad</b>
        </a>
      </h1>
      <div class="flex space-x-2">
        <a
          href="https://wa.me/51988226088/?text=Quiero%20reservar%20una%20cita.%20%0AProyecto%20Libertad%20124%2C%20El%20Tambo%20Huancayo"
          class="bg-[#25D366] p-2 rounded-full w-11 h-11 relative"
          target="_blank"
          rel="noopener"
        >
          <Image
            src={whatsapp}
            alt="Libertad | Whatsapp"
            class="w-6 absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2"
          />
        </a>
        <button
          class="block px-6 py-3 text-sm text-white rounded-full bg-black"
        >
          Brochure
        </button>
      </div>
    </header>
    <section>
      <p class="text-center text-2xl">Vive una experiencia única</p>
      <p class="leading-[1em] text-[190px] text-center font-manrope">
        Hogar soñado
      </p>
      <div class="rounded-full mb-[120px] relative -mt-[32px]">
        <div
          class="relative overflow-hidden h-[540px] backdrop-blur-sm w-full rounded-[50px] bg-opacity-30 bg-white"
        >
          <Image
            src={hero}
            alt="Libertad"
            class="absolute left-1/2 -translate-x-1/2 top-0"
          />
        </div>
        <section
          class="absolute -bottom-9 drop-shadow-2xl left-1/2 -translate-x-1/2 w-[70%] py-5 px-6 rounded-[26px] justify-between flex items-center bg-[#e0ddd5]"
        >
          <div class="flex items-center space-x-3">
            <Icon
              name="material-symbols-light:king-bed-outline"
              size="40"
              class="text-[#ff9100]"
            />
            <div>
              <p>3 Dorms</p>
              <p><b>2 Baños</b></p>
            </div>
          </div>
          <div class="flex items-center space-x-3">
            <Icon
              name="material-symbols-light:activity-zone-outline"
              size="40"
              class="text-[#ff9100]"
            />
            <div>
              <h3>Área</h3>
              <p><b>Desde 85 m<sup>2</sup></b></p>
            </div>
          </div>
          <div class="flex items-center space-x-3">
            <Icon
              name="material-symbols-light:graph-5"
              size="40"
              class="text-[#ff9100]"
            />
            <div>
              <h3>Etapa</h3>
              <p><b>Lanzamiento</b></p>
            </div>
          </div>
          <a
            href="#planos"
            class="bg-[#ff9100] text-white rounded-xl flex items-center space-x-1 px-4 py-2"
          >
            <Icon
              name="material-symbols-light:auto-awesome-mosaic-outline"
              size="40"
            />
            <span> Planos </span>
          </a>
        </section>
      </div>
    </section>
    <section class="mb-[70px]">
      <h2 class="text-xl text-center mb-8"><b>Áreas comunes</b></h2>
      <div class="flex justify-center w-full mb-11">
        <div class="bg-[#E0DDD8] rounded-[19px] p-2 flex space-x-2 text-sm">
          <button class="bg-[#EAE8E4] rounded-[15px] font-bold py-3 px-8"
            >Gymnasio</button
          >
          <button class="text-[#807357] font-bold py-3 px-8">Terraza</button>
          <button class="text-[#807357] font-bold py-3 px-8"
            >Reuniones SUM</button
          >
        </div>
      </div>
      <div class="flex space-x-2">
        <article class="rounded-[50px] flex-1 h-[332px] overflow-hidden">
          <Image src={interior1} alt="Libertad" class="" />
        </article>
        <article class="rounded-[50px] h-[332px] flex-1 overflow-hidden">
          <Image src={interior2} alt="Libertad" class="" />
        </article>
        <article class="rounded-[50px] h-[332px] flex-1 overflow-hidden">
          <Image src={interior3} alt="Libertad" class="" />
        </article>
        <article
          class="rounded-[50px] px-8 py-11 text-white h-[332px] flex-1 overflow-hidden bg-[#ff9100] relative"
        >
          <h3 class="text-2xl mb-5"><b>Espacios que Conectan</b></h3>
          <p>Diseñadas para inspirar, relajar y crear momentos inolvidables.</p>
          <button
            class="w-16 flex items-center justify-center h-16 rounded-full text-[#ff9100] bg-white absolute right-5 bottom-5"
          >
            <Icon
              name="material-symbols-light:arrow-outward-rounded"
              size="40"
              class="text-[#ff9100]"
            />
          </button>
        </article>
      </div>
    </section>
    <section id="planos" class="bg-[#0C0C0C] mb-[70px] py-10 text-white px-2">
      <h2 class="text-center mb-8 text-xl">
        <b>¡Encuentra el departamento perfecto para ti!</b>
      </h2>
      <section class="flex space-x-2 mb-2">
        <div class="w-1/2">
          <article
            class="rounded-[50px] px-8 py-11 h-[332px] bg-[#ff9100] text-white relative"
          >
            <h3 class="text-[30px] mb-5 font-bold">Tipo 1</h3>
            <ul>
              <li class="flex items-center space-x-2">
                <Icon
                  name="material-symbols-light:king-bed-outline"
                  size="42"
                  class="text-white"
                />
                <span> 2 Dormitorios </span>
              </li>
              <li class="flex items-center space-x-2">
                <Icon
                  name="material-symbols-light:shower-outline-rounded"
                  size="42"
                  class="text-white"
                />
                <span>2 Baños</span>
              </li>
              <li class="flex items-center space-x-2">
                <Icon
                  name="material-symbols-light:activity-zone-outline"
                  size="42"
                  class="text-white"
                />
                <span>
                  Area: 80m <sup>2</sup>
                </span>
              </li>
            </ul>
            <button
              class="w-16 flex items-center justify-center h-16 rounded-full text-[#ff9100] bg-white absolute right-5 top-5"
            >
              <Icon
                name="material-symbols-light:arrow-outward-rounded"
                size="40"
                class="text-[#ff9100]"
              />
            </button>
          </article>
        </div>
        <div class="w-1/2 flex space-x-2">
          <article
            class="rounded-[50px] flex-1 h-[332px] relative overflow-hidden"
          >
            <Image
              src={interior1}
              alt="Libertad"
              class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2"
            />
          </article>
          <article
            class="rounded-[50px] flex-1 h-[332px] relative overflow-hidden"
          >
            <Image
              src={interior2}
              alt="Libertad"
              class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2"
            />
          </article>
        </div>
      </section>
      <section class="flex space-x-2">
        <div class="w-1/2 flex space-x-2">
          <article
            class="rounded-[50px] flex-1 h-[332px] relative overflow-hidden"
          >
            <Image
              src={interior3}
              alt="Libertad"
              class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2"
            />
          </article>
          <article
            class="rounded-[50px] flex-1 h-[332px] relative overflow-hidden"
          >
            <Image
              src={interior2}
              alt="Libertad"
              class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2"
            />
          </article>
        </div>
        <div class="w-1/2">
          <article
            class="rounded-[50px] px-8 py-11 h-[332px] bg-[#ff9100] text-white relative"
          >
            <h3 class="text-[30px] mb-5 font-bold">Tipo 2</h3>
            <ul>
              <li class="flex items-center space-x-2">
                <Icon
                  name="material-symbols-light:king-bed-outline"
                  size="42"
                  class="text-white"
                />
                <span> 2 Dormitorios </span>
              </li>
              <li class="flex items-center space-x-2">
                <Icon
                  name="material-symbols-light:shower-outline-rounded"
                  size="42"
                  class="text-white"
                />
                <span>2 Baños</span>
              </li>
              <li class="flex items-center space-x-2">
                <Icon
                  name="material-symbols-light:activity-zone-outline"
                  size="42"
                  class="text-white"
                />
                <span>
                  Area: 82m <sup>2</sup>
                </span>
              </li>
            </ul>
            <button
              class="w-16 flex items-center justify-center h-16 rounded-full text-[#ff9100] bg-white absolute right-5 top-5"
            >
              <Icon
                name="material-symbols-light:arrow-outward-rounded"
                size="40"
                class="text-[#ff9100]"
              />
            </button>
          </article>
        </div>
      </section>
    </section>
    <section class="mb-[70px]">
      <h2
        class="text-xl text-center mb-8 flex justify-center items-center font-bold"
      >
        <Icon
          name="material-symbols-light:distance-outline"
          size="40"
          class="text-[#ff9100]"
        />
        <span> Ubicaci&oacute;n </span>
      </h2>
      <div class="flex space-x-2">
        <article
          class="rounded-[50px] w-1/4 px-8 py-11 text-white h-[500px] flex-1 overflow-hidden bg-[#ff9100] relative"
        >
          <h3 class="text-2xl mb-5"><b>Jr. Pedro Galvez </b></h3>
          <p>Urbanizaci&oacute;n: Pio Pata</p>
          <p>A 2 cuadras de la Capilla Santo Cura de Ars</p>
          <a
            href="https://www.google.com/maps/search/pedro+galvez+pio+pata/@-12.0613952,-75.2291533,18.25z?entry=ttu&g_ep=EgoyMDI1MDEwNi4xIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener"
            class="w-16 flex items-center justify-center h-16 rounded-full text-[#ff9100] bg-white absolute right-5 bottom-5"
          >
            <Icon
              name="material-symbols-light:arrow-outward-rounded"
              size="40"
              class="text-[#ff9100]"
            />
          </a>
        </article>
        <article
          class="w-3/4 rounded-[50px] h-[500px] overflow-hidden relative"
        >
          <Image src={map} alt="Libertad" />
          <a
            href="https://www.google.com/maps/search/pedro+galvez+pio+pata/@-12.0613952,-75.2291533,18.25z?entry=ttu&g_ep=EgoyMDI1MDEwNi4xIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener"
            class="w-16 flex items-center justify-center h-16 rounded-full bg-[#ff9100] text-white absolute right-5 top-5"
          >
            <Icon
              name="material-symbols-light:arrow-outward-rounded"
              size="40"
              class="text-white"
            />
          </a>
        </article>
      </div>
    </section>
    <section class="py-[100px]">
      <div class="text-center">
        <h2 class="text-xl mb-8 flex justify-center">
          <span
            class="flex items-center space-x-1 self-center text-lg font-manrope tracking-wider"
          >
            <Icon
              name="material-symbols-light:house-with-shield-outline-rounded"
              size="48"
            />
            <b class="block pt-2">Libertad</b>
          </span>
        </h2>
        <p class="w-1/3 mb-8 mx-auto">
          Diseño moderno, funcionalidad y comodidad en la ubicación ideal.
        </p>
      </div>
      <article
        class="w-1/2 mx-auto h-[816px] rounded-[30px] relative overflow-hidden"
      >
        <Image
          src={outside}
          alt="Libertad"
          class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2"
        />
        <button
          class="w-16 flex items-center justify-center h-16 rounded-full bg-[#ff9100] text-white absolute right-5 top-5"
        >
          <Icon
            name="material-symbols-light:arrow-outward-rounded"
            size="40"
            class="text-white"
          />
        </button>
      </article>
    </section>
    <footer class="text-right py-12">
      © 2025 Libertad. All rights reserved.
    </footer>
  </main>
</Layout>
