---
import CircleArrow from "./CircleArrow";
import RoundedImage from "./RoundedImage.astro";

interface Spec {
  label: string;
  value: string | number;
  isBold?: boolean;
}

interface Props {
  title: string;
  subtitle: string;
  features: Spec[];
  image: any;
  floors: string[];
}

const { title, subtitle, features, floors, image } = Astro.props;
---

<article class="grid grid-cols-1 gap-2 rounded-[58px] bg-[#E0DDD8] p-2 sm:grid-cols-2">
  <div class="relative flex flex-col justify-center rounded-[50px] bg-[#EAE8E4] p-10 sm:p-12">
    <h3 class="mb-2 font-nourd text-2xl leading-none">{title}</h3>
    <h4
      class="-ml-3 mb-6 w-fit rounded-[19px] bg-[#E0DDD8] p-3 text-xs font-semibold uppercase leading-relaxed tracking-widest text-[#807357] sm:px-8"
    >
      {subtitle}
    </h4>
    <ul class="mb-6 space-y-1">
      {
        features.map((item) => (
          <li class="text-[15px] leading-snug text-[#322014]/90">
            {item.isBold ? <b class="font-nourd text-black">{item.value}</b> : item.value}{" "}
            {item.label}
          </li>
        ))
      }
    </ul>
    <h5 class="mb-6 text-xs font-semibold uppercase leading-relaxed tracking-widest text-amber-700">
      {floors.map((floor) => <span class="block">{floor}</span>)}
    </h5>
    <div class="pswp-gallery">
      <a
        href={image.src}
        data-pswp-width={image.width}
        data-pswp-height={image.height}
        target="_blank"
        class="absolute bottom-5 right-5"
      >
        <CircleArrow isDark />
      </a>
    </div>
  </div>
  <div class="pswp-gallery">
    <a
      href={image.src}
      class="block overflow-hidden rounded-[50px]"
      data-pswp-width={image.width}
      data-pswp-height={image.height}
    >
      <RoundedImage src={image} alt={title} />
    </a>
  </div>
</article>
