---
// src/components/TypologyCard.astro
import RoundedImage from "./RoundedImage.astro";

interface Spec {
  label: string;
  value: string | number;
  isBold?: boolean;
}

interface Props {
  title: string;
  features: Spec[];
  image: any;
}

const { title, features, image } = Astro.props;
---

<article class="grid grid-cols-1 gap-2 rounded-[58px] bg-[#E0DDD8] p-2 md:grid-cols-2">
  <div
    class="relative flex flex-col justify-center rounded-[50px] bg-[#EAE8E4] p-10 sm:px-12 sm:py-16"
  >
    <h3 class="mb-6 font-tanPearl text-lg font-semibold leading-none">{title}</h3>
    <ul class="space-y-1 font-mulish">
      {
        features.map((item) => (
          <li class="text-[15px] leading-snug text-[#322014]/90">
            {item.isBold ? <b>{item.value}</b> : item.value} {item.label}
          </li>
        ))
      }
    </ul>
    <div class="pswp-gallery">
      <a
        href={image.src}
        data-pswp-width={image.width}
        data-pswp-height={image.height}
        target="_blank"
        class="absolute bottom-5 right-5 flex size-16 items-center justify-center rounded-full bg-white shadow-sm transition-transform hover:scale-110 active:scale-95"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          class="text-amber-700"
        >
          <path
            fill="currentColor"
            d="m16.289 7.208l-9.766 9.746q-.14.14-.344.13q-.204-.009-.345-.15t-.14-.334t.14-.334L15.582 6.5H6.789q-.213 0-.357-.144t-.143-.357t.143-.356t.357-.143h9.692q.343 0 .575.232t.233.576V16q0 .213-.145.356t-.356.144t-.356-.144t-.144-.356z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  <div class="pswp-gallery">
    <a href={image.src} data-pswp-width={image.width} data-pswp-height={image.height}>
      <RoundedImage src={image} alt={title} />
    </a>
  </div>
</article>
